body {
	font-family: 'Indie Flower', arial, serif; 
	font-size: 15px;
}

#wrap {
	width: 800px;
	margin: 0 auto;
}


#top {
	text-align: center;
}

h1 { font-family: 'Kranky', arial, serif; }

/* Courtesy of http://stackoverflow.com/questions/6401993/charcoal-mock-up-like-border-effect-with-css3/6402175#6402175 */
.charcoal{
	border: double black 1em;
	-o-border-image:url(boxbg.png) 25 25 stretch stretch;
	-icab-border-image:url(boxbg.png) 25 25 stretch stretch;
	-moz-border-image:url(boxbg.png) 25 25 stretch stretch;
	-webkit-border-image:url(boxbg.png) 25 25 stretch stretch;
	border-image:url(boxbg.png) 25 25 stretch stretch;
	-khtml-border-image: url(boxbg.png) 25 25 stretch stretch;
	margin: 0 30px;
	padding: 0px 15px 0px 0px;
} 

select, 
button,
input {
    font-family: 'Indie Flower', arial, serif; 
    font-size: 14px;
    -webkit-appearance: none;	
}

/* Button layer for charcoal buttons */
/* http://gradients.glrzad.com/ */
.button {
    background: #ccc;	
}

.button:hover {
	background: #eee;  
}

.button:active {
    background: black;
	color: white;  
}


#song-selector {
	text-align: center;
}

/* http://trentwalton.com/2010/07/14/css-webkit-appearance/ */
select {
	width: 400px;
}

#drop-target {
	width: 400px;
	height: 200px;
	margin: 10px auto;
}

#drop-note {
	margin-top: 80px;
	text-align: center;
}


/* http://stackoverflow.com/questions/6390639/css3-animation-blinking-overlay-box */

.blinky {
	font-size: 150%;
	color: #888;
	
    
	-webkit-animation-direction: normal;
    -webkit-animation-duration: 3.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease;   

    /* XXX: Need firefox 5 */	
    -moz-animation-direction: normal;
    -moz-animation-duration: 3.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: ease;   
	
}

@-webkit-keyframes 'blink' {
    0% { color: #eee; }
    50% { color: #555; }
    100% { color: #eee; }
}

.controls {
	   margin: 10px auto;
	   text-align: center;
}


button {
	width: 200px;	
}


#slideshow {
	margin: 0 auto;
}
