body {
	font-family: 'Indie Flower', arial, serif; 
	font-size: 15px;
}

#wrap {
	width: 1000px;
	margin: 0 auto;
}


#top {
	text-align: center;
}

h1 { font-family: 'Kranky', arial, serif; }

h2 {
	text-align: center;
}

/* Courtesy of http://stackoverflow.com/questions/6401993/charcoal-mock-up-like-border-effect-with-css3/6402175#6402175 */
.charcoal{
	border: double black 1em;
	-o-border-image:url(boxbg.png) 25 25 stretch stretch;
	-icab-border-image:url(boxbg.png) 25 25 stretch stretch;
	-moz-border-image:url(boxbg.png) 25 25 stretch stretch;
	-webkit-border-image:url(boxbg.png) 25 25 stretch stretch;
	border-image:url(boxbg.png) 25 25 stretch stretch;
	-khtml-border-image: url(boxbg.png) 25 25 stretch stretch;
	margin: 0 30px;
	padding: 0px 15px 0px 0px;
} 

select, 
button,
input {
    font-family: 'Indie Flower', arial, serif; 
    font-size: 14px;
    -webkit-appearance: none;	
}

button:disabled {
	opacity: 0.3;
}

/* Button layer for charcoal buttons */
/* http://gradients.glrzad.com/ */
select,
.button {
    background: #ccc;	
}

.button:hover {
	background: #eee;  
}

.button:active {
    background: black;
	color: white;  
}


#song-selector {
	text-align: center;
}

/* http://trentwalton.com/2010/07/14/css-webkit-appearance/ */
select {
	width: 400px;
}

#load-song-note {
	text-align: center;
}

#drop-target {
	width: 100%;
	margin: 10px auto;
	min-height: 150px;
}

#drop-note {
	margin-top: 80px;
	text-align: center;
}


/* http://stackoverflow.com/questions/6390639/css3-animation-blinking-overlay-box */

.blinky {
    font-size: 150%;
    color: #888;
	
    
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 3.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease;   

    /* XXX: Need firefox 5 */	
    -moz-animation-direction: normal;
    -moz-animation-duration: 3.5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: ease;   
	
}

@-webkit-keyframes 'blink' {
    0% { color: #eee; }
    50% { color: #555; }
    100% { color: #eee; }
}

.controls {
	   margin: 10px auto;
	   text-align: center;
}


button {
	width: 200px;	
}


#slideshow {
	margin: 0 auto;
}

#slideshow-wrapper {
	width: 700px;
	margin: 0 auto;
}

#image-list { 
   list-style-type: none;
   margin: 0; 
   padding: 0; 
}

#image-list li { 
   margin: 15px; 
   padding: 0px;
   display: inline-block;
   vertical-align: top;
   width: 126px;
   height: 96px;
   font-size: 4em; 
   text-align: center; 
   background-color: #fff;
   border: 1px solid #fff;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   box-shadow: 3px 3px 5px 2px #666;
   -moz-box-shadow: 3px 3px 5px 2px #666;
   position: relative;
}

#image-list li.image-placeholder-style {
   margin: 15px; 
   padding: 0px;
   display: inline-block;
   vertical-align: top;
   width: 126px;
   height: 96px;
   font-size: 4em; 
   text-align: center; 
   border: 1px solid #ccc;
   border-radius: 5px;
   box-shadow: 0px 0px 0px 0px;
   -moz-box-shadow: 0px 0px 0px 0px;
}

#image-list li img { max-width: 120px; max-height: 90px; border: 0px; }

.fileupload-buttonbar {
    display: none;
}

.ui-progressbar-value { 
    height: 8px;
    background-image: url(ui-lightness/pbar-ani.gif);
}

.progressbar-overlay {
    position: absolute;
    width: 110px;
    left: 5px;
    margin-left: auto; 
    margin-right: auto;
    bottom: 5px;
    z-index: 100;
    height: 8px;
    background-color: white;
}

.closebox {
    opacity: 0;

    /* Firefox */
    -moz-transition-property: opacity;
    -moz-transition-duration: 1s;
    -moz-transition-delay: 0.5s;

    /* WebKit */
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0.5s;

    /* Opera */
    -o-transition-property: opacity;
    -o-transition-duration: 1s;
    -o-transition-delay: 0.5s;

    /* Standard */
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 0.5s;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 5px;
    top: 5px;
    color: #fff;
    text-shadow: #000 1px 1px 3px;
    font-weight: bold;
    font-size: 14px;
    display: hidden;
    cursor: default;
}

li:hover .closebox {
    visibi
    opacity: 1;
}

input[type=email] {
	width: 300px;
	margin-right: 0;
}

button[name=send] {
	margin: 0 5px;
}

/* Beat detector */

#beat {
	width: 50px;
	height: 50px;
}

#footer {
	text-align: center;
	color: #888;
}
